.contact{
    background: #f5f5f5;
    padding: 100px 0;
}
.contact .contact_info{
    max-width: 350px;
}
.contact .input .btn{
    background: green;
    color: white;
    border-radius: 0;
    padding: 18px;
}
.contact .map{
    margin-top: 100px;
}
.contact .address{
    cursor: pointer;
}
.address{
    transition: 1s linear;
}
.adress:hover{
    color: rgba(67, 202, 74, 0.938);
}
.number:hover{
    color: rgba(67, 202, 74, 0.938);
}
.email:hover{
    color: rgba(67, 202, 74, 0.938);
}
.fax:hover{
    color: rgba(67, 202, 74, 0.938);
}